.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel-window {
  width: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-track img {
  width: 600px;
  flex-shrink: 0;
}

.back, .forward{
  height: 35px;
  width: 35px;
}
.back:hover, .forward:hover{
  color: #d6c177;
}
