.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    background-color: black;
    border-top: 1px solid grey;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer a:hover{
    color: #a2965b;
}