body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 20%;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}
#titre{
    text-align: center;
}
.notre-concept{
    text-align: center;
}
h1, h2{
    text-align: center;
    color: #a2965b;
}
.notre-concept p{
    background-color: #a2965b;
    padding: 15px;
    border-radius: 20px;
}
#numero-tel{
    background-color: #a2965b;
    border-radius: 30px;
    padding: 10px 30px;
}
.nos-equipement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
}
.equipement1 { grid-area: 1 / 1 / 2 / 2; background-color: #a2965b; padding: 15px; margin: 10px; border-radius: 20px; }
.equipement2 { grid-area: 1 / 2 / 2 / 3; background-color: #a2965b; padding: 15px; margin: 10px; border-radius: 20px; }
.equipement3 { grid-area: 2 / 1 / 3 / 2; background-color: #a2965b; padding: 15px; margin: 10px; border-radius: 20px; }
.equipement4 { grid-area: 2 / 2 / 3 / 3; background-color: #a2965b; padding: 15px; margin: 10px; border-radius: 20px; } 
.nos-equipement h2{
    color: black;
}
#detail-equipement{
    background-color: #a2965b;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 10px;
    font-size: 20px;
}
#detail-equipement:hover{
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}
#planche{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: center;
    height: auto;
} 
#planche img{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}
#planche p{
    height: 50px;
}
#tarif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    top: 100px;
}
#liste-tarif{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 100%;
    background-color: white;
    color: black;
}
.tarif_titre { grid-area: 1 / 1 / 2 / 3; }
.tarif2 { grid-area: 2 / 1 / 3 / 2; }
.tarif3 { grid-area: 2 / 2 / 3 / 3; }
.tarif4 { grid-area: 3 / 1 / 4 / 3; }
.disponibilite_boutton { grid-area: 4 / 1 / 5 / 3; } 
#tarif ul li{
    list-style-type: none;
}
#tarif .reserver{
    position: relative;
    margin: 15px auto;
    background-color: #a2965b;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    width: 50%;
    
}
#tarif .reserver:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    color: black;
}
#info-pratique {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}
.info-pratique1 { grid-area: 1 / 1 / 2 / 2; }
.info-pratique2 { grid-area: 1 / 2 / 2 / 3; }
.info-pratique3 { grid-area: 2 / 1 / 3 / 3; } 
.info-pratique3 iframe{
    width: 600; 
    height: 450;
}
