.menu{
    display: flex;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid grey;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.menu img {
  height: 100px;
}
.menu a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.menu a:hover{
    color: #a2965b;
}
.menu .reserver{
    background-color: #a2965b;
    border-radius: 30px;
    padding: 10px 30px;
}
.menu .reserver:hover{
    color: white;
}