@media screen and (max-width: 950px) { 
    main{
        padding: 0px 5%;
    }
    .nos-equipement{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr); 
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .equipement1 { grid-area: 1 / 1 / 2 / 2; padding: 15px; margin: 10px; border-radius: 20px;}
    .equipement2 { grid-area: 2 / 1 / 3 / 2; padding: 15px; margin: 10px; border-radius: 20px;}
    .equipement3 { grid-area: 3 / 1 / 4 / 2; padding: 15px; margin: 10px; border-radius: 20px;}
    .equipement4 { grid-area: 4 / 1 / 5 / 2; padding: 15px; margin: 10px; border-radius: 20px;} 
}
@media screen and (max-width: 520px) { 
    main{
        padding: 0px 5%;
    }
    .nos-equipement{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr); 
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .equipement1 { grid-area: 1 / 1 / 2 / 2; padding: 15px; margin: 10px; border-radius: 20px;}
    .equipement2 { grid-area: 2 / 1 / 3 / 2; padding: 15px; margin: 10px; border-radius: 20px;}
    .equipement3 { grid-area: 3 / 1 / 4 / 2; padding: 15px; margin: 10px; border-radius: 20px;}
    .equipement4 { grid-area: 4 / 1 / 5 / 2; padding: 15px; margin: 10px; border-radius: 20px;} 
    #planche{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 10px;
    }
    #liste-tarif{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto); 
    }
    .tarif_titre { grid-area: 1 / 1 / 2 / 2; }
    .tarif2 { grid-area: 2 / 1 / 3 / 2; }
    .tarif3 { grid-area: 3 / 1 / 4 / 2; }
    .tarif4 { grid-area: 4 / 1 / 5 / 2; }
    .disponibilite_boutton { grid-area: 5 / 1 / 6 / 2; }
    #info-pratique{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .info-pratique1 { grid-area: 1 / 1 / 2 / 2; }
    .info-pratique2 { grid-area: 2 / 1 / 3 / 2; }
    .info-pratique3 { grid-area: 3 / 1 / 4 / 2; } 
    iframe{
        width: 500px;
    }
}